tr:hover{
    box-shadow: 0 0 0.2em grey;
}
.rowHeader{
    position: sticky;
    top: 15%;
    background-color: rgb(236, 234, 234);
}
.fuelColumn{
    background-color: red;
}
.greenColumn{
    background-color: green;
}
.yellowColumn{
    background-color: yellow;
}
.button-center{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1em;
}
.row{
    display: flex;
    justify-content: center;

}
.btn-outline-light{
    border: none;
}
.btn-outline-light:hover{
    background-color:rgb(236, 234, 234);
    border: none;
}