<pre>{{cartItems|json}}</pre>
<div class="row" *ngFor="let cartItem of cartItems">
    <div class="row">
        <div class="col img-col">
        <img src="{{cartItem.image}}" alt="Product image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>ID</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.id}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>TITLE</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>PRICE</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.price}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>DESCRIPTION</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>category</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.category}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Rating</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.rating.rate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Count</h5>
        </div>
        <div class="col">
            <p>:{{cartItem.rating.count}}</p>
        </div>
    </div>