img{
    width: 50%;
    height: 50%;
}
.products{
    height: 40%;
    width: 50%;
    overflow: auto;
}
/* .details{
    width:35%;
    overflow: auto;
    position: fixed;
    top: 25%;
    right: 7%;
} */
.img-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    cursor: pointer;
}
